/* For Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9; /* bg-slate-100 */
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* bg-slate-300 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; /* bg-slate-400 */
}